---
const links = [
	{ name: "Twitter", url: "#", icon: "fab fa-twitter", hoverColor: "hover:text-blue-400" },
	{ name: "Instagram", url: "#", icon: "fab fa-instagram", hoverColor: "hover:text-pink-400" },
	{ name: "Facebook", url: "#", icon: "fab fa-facebook", hoverColor: "hover:text-blue-800" },
	{ name: "Github", url: "#", icon: "fab fa-github", hoverColor: "hover:text-gray-900" },
	{ name: "Linkedin", url: "#", icon: "fab fa-linkedin", hoverColor: "hover:text-blue-500" },
];
---

<footer>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus consequatur esse cum possimus, odio enim nobis incidunt repellat explicabo a libero ut repellendus in id earum quas? Quaerat, aspernatur asperiores?
    </div>
	<div class="p-5">
		<ul class="flex flex-row justify-center gap-6">
			{links.map(link => (
				<li>
					<a 
						href={link.url} 
						target="_blank" 
						class={`text-gray-600 text-2xl ${link.hoverColor}`}
					>
						<i class={link.icon}></i> {link.name}
					</a>
				</li>
			))}
		</ul>
	</div>
    <span class="flex justify-center">&copy; {new Date().getFullYear()} Eduardo, Liqi and Kader. All rights reserved.</span>
</footer>

<style>
    footer{
        padding: 2.5rem
    }
</style>
