---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="box-border h-full w-4/5 border-4 relative overflow-hidden bg-slate-100 my-12 mx-auto rounded-2xl">
    <div
      class="card bg-black text-white p-4 rounded-md absolute cursor-pointer"
      id="draggable-card"
      style="top: 50%; left: 50%; transform: translate(-50%, -50%);"
    >
      Arrástrame
    </div>
</div>